# .env.example

# MongoDB connection string
MONGODB_URI=mongodb://<username>:<password>@host:port/database

# JWT secret
JWT_SECRET=<your_jwt_secret>

# API Configurations
API_HOST=<your_api_host>
API_PORT=<your_api_port>
API_KEY=<your_api_key>
